<p>
  hero-detail works!
</p>

<hr>
<h2>{{heroSelected.name}} Detail</h2>


<button [style.color]="isdeleted ? 'red': 'green'" (click)="deleteHero()">Delete Hero</button>
<form (ngSubmit)="updateHero($event)" #HeroForm="ngForm">
  <input [(ngModel)]="heroSelected.id" placeholder="id" name="id" placeholder="Id" type="hidden">
  <input [(ngModel)]="heroSelected.name" placeholder="name" name="name" placeholder="Name">
  <input [(ngModel)]="heroSelected.email" placeholder="name" name="email" placeholder="Name">
  <input [(ngModel)]="heroSelected.phone" placeholder="name" name="phone" placeholder="Name">
  <input type="submit" name="Update">
</form>