<div class="col-md-12">
    <div class="">
        
           
                <div class="form-group filter">
                    <label for="exampleInputEmail2">Client :</label>
                    <br />
                    <span id="filterByClient"></span>

                </div>
            
                <div class="form-group filter">
                    <label for="exampleInputName2" title="Project Manager">PM: </label>
                    <br />
                    <span id="filterByPM"></span>

                </div>
           
                <div class="form-group filter">
                    <label for="exampleInputName2" title="Account Mnager">AM: </label>
                    <br />
                    <span id="filterByAM"></span>

                </div>
            
                    <div class="form-group filter">
                        <label for="exampleInputName2" title="Account Owner">AO: </label>
                        <br />
                        <span id="filterByAO"></span>
    
                    </div>
                
                <div class="form-group filter">
                    <label for="exampleInputName2" title="Unit of Measurement"> U/M:</label>
                    <br />
                    <span id="price-unit-div"></span>

                </div>
            
                <div class="form-group filter">
                    <label for="exampleInputName2">Status: </label>
                    <br />
                    <span id="status-div"></span>

                </div>

                <div class="form-group filter">
                    <label for="exampleInputName2">Approved: </label>
                    <br />
                    <span id="approved-div"></span>

                </div>
           
                <div class="form-group filter ">
                    <label for="exampleInputName2">Custom Pricing: </label>
                    <br />
                    <span id="custom-div"></span>

                </div>
           
                <div class="form-group filter ">
                    <label for="exampleInputName2">Client Status: </label>
                    <br />
                    <span id="filterByClientStatus"></span>
    
                </div>
            
        
        
       
    </div>
</div>