<!--footer start-->

<footer>
    <div class="row">
        <div class="col-md-7">
            Copyright 2018 DIN Engineering Services LLP All rights reserved.
        </div>
        <!-- <div class="col-md-5">
            <div class="last-loginf  pull-right">Last Login :
                <span class="text-primary">10:30AM</span>, 22/March/2018
            </div>
        </div> -->
    </div>
</footer>
<!--footer end-->
</div>
<!--Right Side Ends-->
</div>

<div id="chatListWindow">
    <div class="chat-box-header">
        <a href="javascript:void(0);" id="chat-arrow" >
            Live Chat
            <span id="total-online">(Online Users)</span>
        </a>

    </div>
    <div id="chatUsers" class="hide">
        <ul>
            <li>
                <a href="javascript:void(0)" onclick="javascript:chatWith('531', 'IU User, Archana','1',''); ">Archana</a>
            </li>
        </ul>

    </div>
</div>
<div class="chatbox" >
    <div class="chatboxhead">
        <div class="chatboxtitle">Receiver</div>
        <div class="chatboxoptions">
            <a href="javascript:void(0)" onclick="javascript:closeChatBox()">X</a>
        </div>
        <br clear="all">
    </div>
    <div class="chatboxcontent"></div>
    <div class="chatboxinput">
        <textarea class="chatboxtextarea" onkeydown="javascript:return checkChatBoxInputKey(event,this,'246','');"></textarea>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
</body>




</html>