<!--Logo Area Starts-->
<!--Main-logo Starts-->
<div id="logo" align="center">
    <a href="/">
        <img src="<%=assetsLocation%>/images/logo.png" alt="Dimension I" width="85">
    </a>
</div>
<!--Main Logo Ends-->
<!--Small Logo Starts-->
<div class="small-logo text-center">
    <a href="/">
        <img src="<%=assetsLocation%>/images/logo-icon.jpg" alt="Dimension I" width="85">
    </a>
</div>
<!--Small Logo Ends-->
<!--Logo Area Ends-->
<!--Left side Menu Starts-->