<% include ../layout/header %>
    <!--Left Side Starts-->
    <div class="fix-left-side left-side-menu">
        <!--Logo Area Starts-->
        <% include ../layout/logo-section %>
            <!--Logo Area Ends-->
            <!--Left side Menu Starts-->
            <% include ../layout/left-menu %>
                <!--Left Menu Ends-->
    </div>
    <!--Left Side Ends-->
    

            <!--Header Right Menu starts-->
            <% include ../layout/header-right-menu %>
                <!--Header Right Menu Ends-->

        </div>
        <!--Right Side Header Ends-->

        <!--Content Wrapper Starts-->
        <div class="content-wrapper">
            
            <!-- Drag and Drog Functionality Div Starts-->
            <div class="sortable">
                <div class="col-md-12">
                    <!--editable starts-->
                    <div class="panel">
                        <div class="panel-heading">
                            Revenue Summary
                                  
                                <div class="clearfix add-new pull-right" id="dataTableButtons">
                    
                                </div>
                                
                        </div>

                        <div class="panel-body">
                                <div class="alert alert-danger fade in hidden">
                                        <a href="#" class="close alert-close" >&times;</a>
                                        <strong>Error!</strong> <span id="msg-div-error"></span>
                                    </div>
                                <div class="alert alert-success fade in hidden">
                                        <a href="#" class="close alert-close" >&times;</a>
                                        <strong>Success!</strong> <span id="msg-div"></span>
                                       
                                    </div>
                                    <% include ../elements/revenue_summary_filter %>
                            <form method="POST" id="lst-frm">
                           
                            
                            <table class="table table-striped table-hover table-bordered display dataTable no-footer" id="revenue-summary-table"  >
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" rowspan="2" >Client </th>
                                        <th class="sorting"   rowspan="2" width="10%">CCY</th>
                                        <th class="sorting text-center" width="60%" colspan="6"> Amount on</th>                         
                                    </tr>
                                    <tr>
                                        <th  class="sorting text-align-right" width="10%"><span class="fifth-last-month"></span></th>
                                        <th  class="sorting text-align-right" width="10%"><span class="fourth-last-month"></span></th>
                                        <th  class="sorting text-align-right" width="10%"><span class="third-last-month"></span></th>
                                        <th  class="sorting text-align-right" width="10%"><span class="second-last-month"></span></th>
                                        <th class="sorting text-align-right" width="10%"><span class="last-month"></span></th>                                 
                                        <th class="sorting text-align-right" width="10%"><span class="current-month"></span></th>  
                                    </tr>
                                </thead>
                                <tbody> 
                                                        
                                </tbody>
                            </table>
                            <div class="total-ammount-summary pull-right">
                                    <h5>Total Amount By Currency</h5>
                                        <table class="table table-striped table-hover table-bordered display dataTable no-footer"  id="ccy-total" >
                                                <thead>
                                                    <tr role="row">
                                                        <th class="sorting" width="10%" rowspan="2">Currency </th>
                                                        <th class="sorting text-center" colspan="6" >Total </th>                                                      
                                                                              
                                                    </tr>
                                                    <tr>
                                                        <th class="sorting text-align-right" > <span class="fifth-last-month"></span></th>
                                                        <th class="sorting text-align-right" > <span class="fourth-last-month"></span></th>
                                                        <th class="sorting text-align-right" > <span class="third-last-month"></span></th>
                                                        <th class="sorting text-align-right" > <span class="second-last-month"></span></th>
                                                        <th class="sorting text-align-right"  > <span class="last-month"></span></th>
                                                        <th class="sorting text-align-right"  > <span class="current-month"></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>                     
                                                </tbody>
                                            </table> 
                                </div>
                            
                            
</form>
                        </div>
                    </div>
                </div>
                <!--Editable Table Ends-->

            </div>
        </div>
        <!-- Drag and Drog Functionality Div Starts-->
    </div>
    <!--Content Wrapper Ends-->
    <% include ../elements/slab_price %>
    
    <script src="<%=assetsLocation%>/js/revenue_summary.js"></script>
    <% include ../layout/footer %>
      