<div class="col-md-12">
    <div class=" filter-form">
        
            <div class="col-md-2 ">
                <div class="form-group filter ">
                    <label for="exampleInputEmail2 ">Client :</label><br />
                    <span id="filterByClient"></span>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="form-group filter ">
                    <label for="exampleInputName2 ">Project Manager: </label><br />
                    <span id="filterByPM"></span>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="form-group filter ">
                    <label for="exampleInputName2 ">Account Manager: </label><br />
                    <span id="filterByAM"></span>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="form-group filter ">
                    <label for="exampleInputName2 ">Account Owner: </label><br />
                    <span id="filterByAO"></span>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="form-group filter ">
                    <label for="exampleInputName2 ">Pricing Head: </label><br />
                    <span id="price-item-div"></span>

                </div>
            </div>
            <div class="col-md-2 ">
                <div class="form-group filter ">
                    <label for="exampleInputName2 ">Unit of Measurement: </label><br />
                    <span id="price-unit-div"></span>

                </div>
            </div>
            
       
   

    <div class="col-md-2">
        <div class="form-group filter">
            <label for="exampleInputName2">Revenue for Month: </label>
            <br />
            <div  class='input-group date' id="from-datepicker">
        <input type="text" id="from-date" readonly class="form-control" value="<%= fromDateInitial%>">
       
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
            
            </div>
    </div>
        
    </div>
</div>

</div>