<!-- Edit Modal HTML -->
<div id="addprice" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" id="add-model">
                <% include ../elements/price_form %>
        </div>
    </div>
</div>