<div id="price-slab-modal" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content" id="price-slab">
        </div>
    </div>
</div>